.place {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  background: white;
  color: #222;
  border-radius: 12px;
  margin: 10px 0;
  user-select: none;
}

.name {
  font-size: 20px;
}

.icon svg {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #222;
}

.container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  color: #222;
  border-radius: 12px;
  border: 3px solid #7395ae;
  z-index: 1;
  overflow: hidden;
}

.option {
  padding: 10px;
  text-align: center;
  transition: all .2s ease;
}
.optionActive {
  padding: 10px;
  text-align: center;
  transition: all .2s ease;
  background: #379683;
  color: white;
}

.option:hover {
  background: #B1A296;
}
.optionActive {
  background: #557A95;
}
