.modalWrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .5);
}

.modal {
  background: #5d5c61;
  width: 300px;
  border-radius: 12px;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.name {
  font-size: 18px;
  color: white;
  margin-right: auto;
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.body {
  position: relative;
  padding: 10px;
}

.container {
  margin-bottom: 20px;
  background: #7395ae;
}

.fileUploader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploadContainer {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}

.uploadButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #379683;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

.uploadButton svg {
  margin-right: 10px;
}

.uploadButton svg {
  width: 40px;
  height: 40px;
}

.fileUploader1 {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: absolute;
  bottom: -90px;
  right: 0;
  left: 0;
}

.uploadListContainer {
  position: absolute;
  width: 300px;
  right: -310px;
  top: -44px;
  background: white;
  border-radius: 11px;
  background: #5d5c61;
}

.uploadList {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 10px;
  max-height: 227px;
  overflow: auto;
}

.uploadList::-webkit-scrollbar {
  width: 6px;
  margin-left: 3px;               /* ширина scrollbar */
}
.uploadList::-webkit-scrollbar-track {
  background: #fff;        /* цвет дорожки */
  border-radius: 12px;
}
.uploadList::-webkit-scrollbar-thumb {
  background-color: #7395ae;    /* цвет плашки */
  border-radius: 20px;       /* закругления плашки */
}

.title {
  font-size: 18px;
  color: white;
  margin-top: 10px;
}

.elem {
  padding: 5px;
  display: flex;
  align-items: center;
  background: #7395ae;
  color: white;
  cursor: pointer;
  transition: all .2s ease;
  border-radius: 11px;
}

.elem:not(:last-child) {
  margin-bottom: 10px;
}

.elem:hover {
  background: #557A95;
}

.delete {
  display: flex;
  align-items: center;
  justify-content: center;
  background: tomato;
  cursor: pointer;
  padding: 10px;
  border-radius: 11px;
  transition: all .2s ease;
  user-select: none;
}
.delete:hover {
  background: red;
}

.nameFile {
  margin-right: 5px;
}
